version: '3.8'

services:
  influxdb:
    image: influxdb:2.7.10
    container_name: influxdb
    restart: unless-stopped
    ports:
      - "${INFLUXDB_HTTP_PORT:-8086}:8086"
    volumes:
      - /opt/container-data/influxdb/data:/var/lib/influxdb2
      - /opt/container-data/influxdb/config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_ADMIN_USER:-admin}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_ADMIN_PASSWORD:-halos}
      - DOCKER_INFLUXDB_INIT_ORG=marine
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_DB:-marine}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN:-halos-default-token-change-in-production}
    networks:
      - influxdb-net

networks:
  influxdb-net:
    driver: bridge
