
services:
  opencpn:
    image: ghcr.io/hatlabs/opencpn-docker:5.12.4
    container_name: opencpn
    restart: unless-stopped
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"
    ports:
      - "${OPENCPN_PORT:-3021}:3001"
    volumes:
      - ${CONTAINER_DATA_ROOT}/config:/config
    environment:
      - TITLE=OpenCPN
      - SELKIES_ENABLE_RESIZE=true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    shm_size: 1gb
    networks:
      - opencpn-net
    labels:
      homarr.icon: /usr/share/pixmaps/marine-opencpn-container.png

networks:
  opencpn-net:
    driver: bridge
