version: '3.8'

services:
  opencpn:
    image: ghcr.io/hatlabs/opencpn-docker:5.12.4
    container_name: opencpn
    restart: unless-stopped
    ports:
      - "${OPENCPN_PORT:-3001}:3001"
    volumes:
      - ${CONTAINER_DATA_ROOT:-/var/lib/container-apps}/opencpn-container/data/config:/config
    environment:
      - TITLE=OpenCPN
      - SELKIES_ENABLE_RESIZE=true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    shm_size: 1gb
    networks:
      - opencpn-net

networks:
  opencpn-net:
    driver: bridge
