
services:
  avnav:
    image: xfreex/avnav-stable:20251028
    container_name: avnav
    restart: unless-stopped
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"
    ports:
      - "${AVNAV_HTTP_PORT:-3011}:8080"
      - "${AVNAV_WEBSOCKET_PORT:-8083}:8083"
      - "${AVNAV_NMEA_PORT:-34567}:34567"
    volumes:
      - ${CONTAINER_DATA_ROOT}/data:/var/lib/avnav
      - /dev:/dev
    environment:
      - UID=1000
      - GID=1000
    user: "1000:1000"
    privileged: true
    networks:
      - avnav-net
    labels:
      homarr.icon: /usr/share/pixmaps/marine-avnav-container.png

networks:
  avnav-net:
    driver: bridge
