
services:
  grafana:
    image: grafana/grafana:12.1.4
    container_name: grafana
    user: "472"
    restart: unless-stopped
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"
    ports:
      - "${GRAFANA_PORT:-3001}:3000"
    volumes:
      - ${CONTAINER_DATA_ROOT}/data:/var/lib/grafana
    networks:
      - grafana-net

networks:
  grafana-net:
    driver: bridge
