
services:
  grafana:
    image: grafana/grafana-oss:12.2.0
    container_name: grafana
    restart: no
    ports:
      - "${GRAFANA_PORT:-3001}:3000"
    volumes:
      - ${CONTAINER_DATA_ROOT}/data:/var/lib/grafana
    networks:
      - grafana-net

networks:
  grafana-net:
    driver: bridge
