
services:
  signalk-server:
    image: cr.signalk.io/signalk/signalk-server:v2.18.0
    container_name: signalk-server
    restart: unless-stopped
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"
    network_mode: host
    environment:
      - NODE_NO_WARNINGS=1
    volumes:
      - ${CONTAINER_DATA_ROOT}/data:/home/node/.signalk
      - /dev:/dev
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
    privileged: true
    security_opt:
      - no-new-privileges:false
    cap_add:
      - NET_ADMIN
