services:
  signalk-server:
    image: cr.signalk.io/signalk/signalk-server:v2.18.0
    container_name: signalk-server
    restart: no
    network_mode: host
    environment:
      - NODE_NO_WARNINGS=1
    volumes:
      - ${CONTAINER_DATA_ROOT}/data:/home/node/.signalk
      - /dev:/dev
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
    privileged: true
    security_opt:
      - no-new-privileges:false
    cap_add:
      - NET_ADMIN
    logging:
      options:
        max-size: 10m
